<!--Barra de navegacion-->
<div id="BNavegacion"><nav class="navegacion">
    <ul class="menu">
  <a href="index.html"><img src="Recurses/logo.jpeg" id="opportunityboton"; style="position: relative; margin-left: 60px; margin-right: 60px; margin-top: 2px; width: 5%; margin-bottom: -15px;"></a> 
     <li id="index"><a href="index.html">Home</a></li>
      <li id="sobrenosotros"><a href="sobrenosotros.html">Sobre Nosotros</a></li>
      <li id="servicios"><a href="#">Servicios</a>
        <ul class="submenu" >
         <div id="sub1"><li><a href="mantenimiento.html">Sub1</a></li></div> 
         <div id="sub2"><li><a href="programacion.html">Sub2</a></li></div> 
          <div id="sub3"><li><a href="sistemaoperativo.html">Sub3</a></li></div>
        </ul>
      </li>
      <li id="Contactenos"><a href="formulario.html">Contactenos</a></li>  
       <li  id="iniciosesion" style="position: relative; left: 320px;" id="iniciarsession"><a href="inicioDeSesion.html">Iniciar Sesión</a></li>
       <li  id="registrarse" style="position: relative; left: 320px;" id="registrarse"><a href="registrarse.php">Registrarse</a></li>
    </ul>
  </nav><br></div> 
<!-- fin barra de menu personalizada-->

